/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* =================================
------------------------------------
  Game Warrior Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*---------------------------*/
/* Template default CSS
/*---------------------------*/
* {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 500;
	color: #131313;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	color: #878787;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*---------------------
  Helper CSS
-----------------------*/
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.header__top {
	padding: 18px 0;
}
.header__logo-text {
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #5F58AC;
	margin-left: 20px;
	max-width: 60px;
	width: 100%;
	display: inline-block;
}
.btn-style {
	display: block;
	width: 182px;
	padding: 10px 0;
	font-weight: 600;
	font-size: 13px;
	border: 1px solid #5F58AC;
	color: #5F58AC;
	text-align: center;
	border-radius: 5px;
}
.btn-style:hover {
	background-color: #5F58AC;
	color: #fff;
}
.header__top-download {
	margin-left: 20px;
}
.header__nav {
	margin-left: 40px;
}
.header__nav a {
	font-weight: 400;
	font-size: 14px;
	color: #000;
	line-height: 1.2;
}
.header__nav a:hover {
	color: #5f58ac;
}
.header__nav ul {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.header__nav-item {
	width: 50%;
}
.header__top-social {
	border: 1px dashed #c4c4c4;
	padding: 10px;
	border-radius: 3px;
}
.header__top-social-text {
	margin-right: 15px;
}
.header__top-social-text span{
	font-size: 14px;
	color: #000;
	line-height: 1.2;
	font-weight: 400;
	display: block;
}
.header__top-phone-link {
	color: #222;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
}
.header__navigation {
	background-color: #5f58ac;
}
.header__navigation nav {
	padding: 0 15px;
}
.header__navigation a {
	display: block;
	padding: 20px;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	height: 100%;
}
.header__navigation a:hover {
	background-color: #fff;
	color: #5f58ac;
}
.header__navigation a:hover rect, .header__navigation a:hover path, .header__navigation a:hover circle {
	stroke: #5f58ac;
}
.header__navigation a svg {
	margin-right: 20px;
}




.main-slider {
	background-color: #f5f5f5;
}
.main-slider .my-arrow-prev {
	top: 43%;
}
.my-arrow-prev, .my-arrow-next {
	width: 60px;
	height: 60px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(-135deg) translateY(-50%);
	    -ms-transform: rotate(-135deg) translateY(-50%);
	        transform: rotate(-135deg) translateY(-50%);
	z-index: 100;
	left: 80px;
	top: 28%;
}
.clients__slider .my-arrow-next, .clients__slider .my-arrow-prev {
	border-top-color: #c4c4c4;
	border-right-color: #c4c4c4;
}
.clients__slider .my-arrow-prev {
	top: 32%;
}
.my-arrow-next {
	left: auto !important;
	top: 47%;
	right: 80px;
	-webkit-transform: rotate(45deg) translateY(-50%);
	    -ms-transform: rotate(45deg) translateY(-50%);
	        transform: rotate(45deg) translateY(-50%);
}
.slick-next:before, .slick-prev:before {
	content: '';
}
.slider__wrap {
	max-width: 1900px;
	margin: 0 auto;
}
.slider__item {
	min-height: 550px;
	position: relative;
}
.slider__item .container {
	min-height: inherit;
}
.slider__item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	height: 100%;
	width: 100%;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(95, 88, 172, 0.5)), to(rgba(95, 88, 172, 0.5))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
	background: -o-linear-gradient(bottom, rgba(95, 88, 172, 0.5), rgba(95, 88, 172, 0.5)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background: linear-gradient(0deg, rgba(95, 88, 172, 0.5), rgba(95, 88, 172, 0.5)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.slider__item .container .row {
	min-height: inherit;
	padding: 0 75px;
}
.slider__item-content {
	position: relative;
	min-height: inherit;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-left: 50px;
}
.dark-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .2);
	z-index: 1000;
	display: none;
}
.header__top-social-icons a {
	margin: 0 5px;
}
.overlay-show {
	display: block;
}
.show-menu {
	left: 0 !important;
}
.burger {
	cursor: pointer;
}
.burger span {
	display: block;
	width: 25px;
	height: 2px;
	margin: 7px 0;
	background-color: #5F58AC;
}
.slick-next {
	right: 50px;
}
.slick-prev {
	left: 50px;
	z-index: 100;
}
.slick-dots {
	bottom: 50px;
}
.slick-dots li button {
	width: 30px;
	height: 2px;
	border-radius: 5px;

}
.slick-dots li.slick-active button:before {
	background-color: #fff;
	opacity: 1;
}
.slick-dots li button:before {
	width: 30px;
	height: 4px;
	opacity: .7;
	background-color: #5f58ac;
	color: transparent;
	margin: 0 10px;
	display: block;
}
.slick-dots li button:hover {
	background-color: transparent;
}
.slick-dots li {
	margin: 0 15px;
}
.slider__item-content h2  {
	color: #fff;
	font-weight: 00;
	margin-bottom: 25px;
	font-size: 40px;
	letter-spacing: .8px;
	line-height: 1.2;
}
.border-white {
	border-color: #fff;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}
.slider__item-content p {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
}
.slider__item-content p a {
	color: #fff;
	text-decoration: underline;
}
.slider-item-content-btns a{
	margin-right: 20px;
	max-width: 206px;
	width: 100%;
}
.slider-item-content-btns a:hover {
	border-color: #5F58AC !important;
}
.slider__item-form {
	position: relative;
	max-width: 330px;
	width: 100%;
	margin-left: auto;
	padding: 30px;
	background-color: #f7f7f7;
	border-radius: 5px;
}
.slider__item-form input {
	width: 100%;
	padding: 12px 0;
	font-weight: 400;
	line-height: 20px;
	background-color: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #D5CDED;
	margin-bottom: 20px;
}
.order-btn {
	padding: 15px;
	display: inline-block;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background-color: #5F58AC;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	border: 0;
	outline: none;
	width: 100%;
}
.terms {
	font-size: 12px;
	text-align: center;
	line-height: 1.2;
}
.terms a {
	color: #5F58AC;
}


.clients {
	padding: 50px 0;
	position: relative;
}
.clients .col-lg-10, .discount .col-lg-10 {
	position: static;
}
.clients .slick-slider, .discount .slick-track {
	position: static;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.clients__title {
	padding-left: 20px;
}
.clients__title h4{
	font-size: 36px;
	font-weight: 400;
}


.services {
	margin-top: 45px;
}
.services__item {
	-webkit-box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
	        box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;
	padding: 30px 15px 0;
	text-align: center;
	overflow: hidden;
	max-height: 360px;
	height: 100%;

}
.services__item:hover {
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.services__item:hover .services__item-img {
	height: 60px;
}
.services__item:hover  .btn-style  {
	opacity: 1;
}
.services__item:hover .services__item-title {
	margin-top: 12px;
	margin-bottom: 0px;
}
.services__item-img {
	width: 150px;
	height: 110px;
	display: block;
	margin: 0 auto;
}
.services__item-img img {
	width: 100%;
	height: 100%;
}
.services__item-title {
	margin-top: 24px;
	margin-bottom: 18px;
	font-weight: 600;
	color: #000;
	font-size: 20px;
}
.services__item-text {
	margin-bottom: 18px;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
}
.services .btn-style {
	color: #fff;
	background-color: #5F58AC;
	font-weight: 600;
	font-size: 16px;
	margin: 30px auto 0;
	opacity: 0;
	background-image:-webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image:-o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image:linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}

.projects {
	margin-top: 75px;
}
.projects__title, .tabs {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.projects__title h4, .discount__title h4{
	font-size: 36px;
	color: #222;
	font-weight: 400;
}
.content {
	max-width: 2100px;
	margin: 0 auto;
	padding: 0 15px;
	margin-top: 30px;
}
.content__item {
	height: 32vh;
	width: 33.333%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}
.content__item:hover .content__item-overlay {
	opacity: 1;
}
.content__item:hover .content__item-overlay span {
	top: 85%;
}
.content__item-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.content__item-overlay:hover {
	color: #fff;
}
.content__item-overlay span {
	position: absolute;
	top: 120%;
	left: 15px;
}



.discount {
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}
.discount .slick-slider {
	position: static;
}

.discount .my-arrow-prev, .discount .my-arrow-next  {
	border-top-color: #c4c4c4;
	border-right-color: #c4c4c4;
}
.discount .my-arrow-prev {
	top: 45%;
}
.discount .my-arrow-next {
	top: 57%;
}
.discount .slick-dots li.slick-active button:before {
	background-color: #5f58ac;
}
.discount .col-lg-12 {
	position: static;
}
.discount .slick-dots {
	width: auto;
	bottom: -75px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.discount__title {
	margin-bottom: 25px;
}



.application {
	padding: 40px 0 15px;
	margin-top: 100px;
	position: relative;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(9.41%, #5F58AC), color-stop(90.56%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 9.41%, #9055A4 90.56%);
	background-image: linear-gradient(90deg, #5F58AC 9.41%, #9055A4 90.56%);
}
.application .col-lg-4 {
	position: static;
}
.application__title h4{
	color: #fff;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 25px;
}
.application input {
	width: 100%;
	display: block;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: transparent;
	border: none;
	margin-bottom: 30px;
	border-bottom: 1px solid #fff;
	padding: 12px 0;
}
.application input::-webkit-input-placeholder {
	color: #fff;
}
.application input::-moz-placeholder {
	color: #fff;
}
.application input:-ms-input-placeholder {
	color: #fff;
}
.application input::-ms-input-placeholder {
	color: #fff;
}
.application input::placeholder {
	color: #fff;
}
.application__form-upload {
	position: relative;
}
.application__form-upload label {
	padding-left: 26px;
	display: inline-block;
	color: #fff;
	cursor: pointer;
}
.upload {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.application__form-upload:before{
	content: '';
	display: block;
	position: absolute;
	background-image: url(../img/attach.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;	
}
.application__form .btn-style {
	width: 100%;
	margin: 20px 0;
	color: #5F58AC ;
	border: 1px solid #fff;
	font-size: 16px;
	background-color: #fff;
	cursor: pointer;
}
.application__form .btn-style:hover {
	background-color: transparent;
	color: #fff;
}
.application__terms p {
	font-size: 12px;
	color: #fff;
	line-height: 16px;
}
.application__terms p a {
	color: #fff;
	text-decoration: underline;
}
.application__social {
	padding: 8px 15px;
	border-radius: 3px;
	border: 1px dashed #c4c4c4;
	color: #fff;
}
.application__social span {
	font-size: 15px;
	font-weight: 500;
}
.application__social a {
	padding: 0 2px;
}
.application__img {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background-repeat: no-repeat;
}
.application__img-info {
	position: absolute;
	max-width: 460px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border-radius: 10px;
	bottom: 25px;
	padding: 8px;
	padding-left: 25px;
	left: -75px;
}
.application__img-info span {
	display: block;
}
.name {
	font-weight: 700;
	font-size: 14px;
}
.position {
	font-size: 14px;
}
.reliable {
	padding: 85px 0 55px;
	background-color: #f5f5f5;
}
.reliable__title h4, .testimonials__title h4 {
	font-size: 32px;
	margin-bottom: 32px;
	font-weight: 400;
}
.reliable__item-head-title {
	font-size: 16px;
	margin-left: 30px;
	font-weight: 700;
	line-height: 22px;
	opacity: .8;
	max-width: 160px;
	width: 100%;
}
.reliable__item-content {
	font-size: 15px;
	margin-top: 15px;
	color: #555;
}




.testimonials {
	padding: 90px 0;
}
.testimonials__item {
	border-right: 1px solid rgba(0,0,0, .1);
	padding-right: 20px;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.testimonials__item-head h6 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}
.testimonials__wrap {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.testimonials .col-lg-4:last-child .testimonials__item {
	border-right: 0;
}
.tesestimonials__item-head p {
	margin-bottom: 15px;
	font-size: 15px;
	color: #5F58AC;
}
.testimonials__item-text p{
	line-height: 1.6;
}
.testimonials__item-scan {
	color: #5f58ac;
}
.testimonials__item-company {
	margin-top: 75px;
}


.footer {
	padding: 30px 0 20px;
	background-color: #5F58AC;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(9.41%, #5F58AC), color-stop(90.56%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 9.41%, #9055A4 90.56%);
	background-image: linear-gradient(90deg, #5F58AC 9.41%, #9055A4 90.56%);
}
.footer__top {
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
}
.footer__top-department span {
	color: #fff;
	display: block;
	font-size: 16px;
}
.footer__top-department a {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
}
.footer .btn-style {
	color: #fff;
	border: 1px solid #fff;
	font-size: 16px;
	width: 90%;
	margin: 15px auto 0;
}
.footer .btn-style:hover {
	background-color: #fff;
	color: #5f58ac;
}
.footer__top-address p {
	color: #fff;
	margin-bottom: 0;
}
.footer__top-address a {
	color: #fff;
	text-decoration: underline;
	font-size: 14px;
	position: relative;
}
.footer__top-address a:hover {
	text-decoration: none;
}
.footer__top-address a:before {
	content: '';
	width: 15px;
	height: 20px;
	display: block;
	position: absolute;
	background-image: url(../img/marker.png);
	background-repeat: no-repeat;
	background-position: center;
	top: -3px;
	left: -30px;
}
.footer__nav {
	padding:  30px 15px;
	border-bottom: 1px solid #fff;
}
.footer__nav-title a{
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-decoration: underline;
}
.footer__nav-list {
	margin-top: 25px;
}
.footer__nav-list-item a {
	font-size: 14px;
	color: rgba(255, 255, 255, .9);
}
.footer__nav-list-item a:hover {
	color: rgba(255, 255, 255, .6);
}
.footer__nav-list-item {
	margin-bottom: 10px;
	line-height: 1.4;
}
.footer__copyright {
	padding: 30px 15px;
}
.footer__copyright-disclaimer p {
	color: #fff;
	font-size: 12px;
	margin-bottom: 0;
}
.footer__copyright-disclaimer-links {
	margin-bottom: 15px;
}
.footer__copyright-disclaimer-links a {
	color: #fff;
	text-decoration: underline;
	margin-right: 20px;
	font-size: 12px;
}
.footer__copyright-disclaimer-links a:hover {
	text-decoration: none;
}
.footer__copyright-disclaimer-text {
	margin-bottom: 0;
}
.footer__copyright-social li a{
	margin-right: 15px;
	width: 48px;
	height: 48px;
	display: block;
}
.footer__copyright-social .vk {
	background-repeat: no-repeat;
	background-position: 0 0;
}
.footer__copyright-social .instagram {
	background-position: -150px 0;
}
.footer__copyright-social {
	margin-top: 15px;
}



.development__slider-item {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 30px 30px;
	position: relative;
}
.development__slider-item:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
	background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(95, 88, 172, 0.5)), to(rgba(95, 88, 172, 0.5))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
	background-image: -o-linear-gradient(bottom, rgba(95, 88, 172, 0.5), rgba(95, 88, 172, 0.5)), -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-image: linear-gradient(0deg, rgba(95, 88, 172, 0.5), rgba(95, 88, 172, 0.5)), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.another__page-title, .another__page-description {
	position: relative;
	z-index: 100;
}
.another__page-title h4{
	color: #fff;
	font-size: 18px;
	margin-bottom: 15px;
}
.another__page-description p {
	color: #fff;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 1.2;
}
.another__page-btns {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.another__page-btns a {
	color: #fff	;
	position: relative;
	z-index: 100;
	border-color: #fff;
	margin: 5px 0;
	padding: 16px 0;
	font-size: 16px	;
	width: 100%;
}
.another__page-btns a:hover {
	background-color: #5F58AC;
	border-color: transparent;
}
.development__slider .slick-dots{
	bottom: 20px;
	max-width: 1200px;
	width: 100%;
	left: -15px;
}

.page__top {
	background-color: #f9f9f9;
	margin-bottom: 40px;
}
.page__top-title  {
	padding-top: 30px;
	font-size: 32px;
	color: #222;
	font-weight: 400;
	margin-bottom: 15px;
}
.breadcrumb__list  {
	margin-top: 15px;
	padding-bottom: 30px;
}
.breadcrumb__list li {
	margin-right: 20px;
	position: relative;
}
.breadcrumb__list li:last-child:before {
	content: "\f054";
	font-family: FontAwesome;
	position: absolute;
	width: 5px;
	color: #2e2e2f;
	opacity: .2;
	font-size: 7px;
	height: 5px;
	left: -12px;
	top: 9px;
}
.breadcrumb__list a {
	color: #9a9a9a;
	font-size: 12px;
}
.menu__aside-list-item a  {
	font-weight: bold;
	padding: 22px 47px 22px 30px;
	position: relative;
	line-height: 20px;
	font-size: 16px;
	color: #000;
	display: block;
	border-bottom: 1px solid #f5f5f5;
}
.active-aside {
	background-color: #f9f9f9;
}
.active-aside a:before {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.active-aside a {
	color: #736cb6;
	background-color: #f9f9f9;
}
.active-aside a:before {
	display: none;
}
.menu__aside-list > .menu__aside-list-item a:before {
	content: '\f107';
	font-family: FontAwesome;
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 17px;
}
.adversitement {
	margin-top: 25px;
	text-align: center;
}
.menu {
	margin-bottom: 100px;
}
.menu__aside-submenu {
	padding: 0 30px;
	border-top: 1px solid #f5f5f5;
}
.menu__aside-submenu li a {
	color: #555;
	font-weight: 400;
	display: block;
	padding: 7px 0 10px;
	line-height: 20px;
	font-size: 14px;
}
.servive__list-item {
	padding: 8px 28px 8px 8px;
	border: 2px solid transparent;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.service__list-item-title h3 {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	color: #000;
}
.service__list-item-title:hover {
	text-decoration: underline
}
.servive__list-item-content {
	margin-left: 10px;
	margin-top: 22px;
}
.servive__list-item-text {
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 1.4;
}
.service__item {
	padding: 10px 10px 4px;
	background-color: #F5F5F5;
	border-radius: 5px;
	margin-right: 15px;
}
.service__item-info {
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	color: #000;
}
.servive__list-item-img {
	max-width: 302px;
	width: 100%
}
.service__list-item-links  {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.service__list-item-links > div {
	margin-bottom: 20px;
}
.servive__list-item-img img {
	height: 100%;
}
.service__item-info span {
	font-weight: 400;
}
.service__item a {
	font-weight: 400;
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}
.service__item-property {
	margin-right: 45px;
}
.service__list-item-links .btn-style {
	background-color: #5F58AC;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	width: 100%;
	max-width: 270px;
	height: 100%;
	line-height: 32px;
}
.service__item-btn {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.service__item-discount {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.2;
	color: #000;
}


.brand__wrapper {
	margin-bottom: 80px;
	padding: 10px 0 10px 50px;
	background-color: #F5F5F5;
	background: -webkit-gradient(linear, left top, right top, color-stop(0.8%, #F5F5F5), color-stop(61.72%, rgba(245, 245, 245, 0)));
	background: -o-linear-gradient(left, #F5F5F5 0.8%, rgba(245, 245, 245, 0) 61.72%);
	background: linear-gradient(90deg, #F5F5F5 0.8%, rgba(245, 245, 245, 0) 61.72%);
}
.brand__wrapper-text-title {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
}
.brand__wrapper-text {
	width: 35%;
	padding-right: 30px;
}
.brand__wrapper-text .btn-style {
	background-color: #5F58AC;
	font-size: 16px;
	color: #fff;
	width: 100%;
	font-weight: 400;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}
.brand__wrapper-text-price {
	margin-bottom: 30px;
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	color: #5F58AC;
}
.brand__context, .brand__list {
	margin-bottom: 30px;
}
.brand__context-text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}
.brand__list-item-title {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: #000;
	border-bottom: 2px solid #9055A4;
	padding-bottom: 20px;
}
.inner__title {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 500;
}
.brand__packet-item {
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.brand__packet-item-header {
	padding: 11px 15px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #5F58AC;
}
.brand__packet-item-list {
	padding: 25px 15px 35px ;
}
.project__list li {
	position: relative;
	padding-left: 22px;
	line-height: 1.5;
	font-size: 16px;
	margin-bottom: 10px;
}
.project__list > li:before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 12px;
	height: 9px;
	background-color: transparent;
	background-image: url(../img/tick.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.project__list-drop {
	padding-left: 25px;
	margin-bottom: 40px;
}
.project__list-drop > li {
	font-size: 16px;
	color: #000;
	line-height: 26px;
	padding-left: 20px;
	position: relative;
}
.project__list-drop > li:before {
	content: '';
	display: block;
	width: 5px;
	height: 1px;
	background-color: #000;
	position: absolute;
	top: 10px;
	left: 0;
}
.packet__info {
	width: 100%;
	border: 1px solid #9055A4;
	border-radius: 5px;
	margin-top: -75px;
}
.packet__info-price {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(30.95%, #5F58AC), to(#9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 30.95%, #9055A4 100%);
	background-image: linear-gradient(90deg, #5F58AC 30.95%, #9055A4 100%);
	padding: 9px 20px;
}
.packet__info-price {
	width: 50%;
}
.packet__info-price span {
	margin: 0 3px;
}
.packet__info-price-label {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}
.packet__info-price-from {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
}
.packet__info-price-label {
	font-size: 14px;
	font-weight: 700;
}
.brand__packet-item {
	height: 100%;
}
.brand__packet-item-list {
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.packet__info-deadline {
	padding: 9px 20px;
	color: #9055A4;
	font-size: 14px;
	width: 50%;
	text-align: center;
}
.packet__info-deadline span{
	font-weight: 700;
}
.cost-text {
	margin-bottom: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}
.brand__download-link {
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
	color: #5F58AC;
	display: block;
	max-width: 260px;
}
.brand__download-text {
	margin-left: 25px;
}
.brand__download-text span {
	display: block;
}


.marketing__intro {
	margin-bottom: 40px;
	padding: 15px 15px 15px 30px;
	background-color: #5F58AC;
	background: -webkit-gradient(linear, left top, right top, color-stop(9.41%, #5F58AC), color-stop(90.56%, #9055A4));
	background: -o-linear-gradient(left, #5F58AC 9.41%, #9055A4 90.56%);
	background: linear-gradient(90deg, #5F58AC 9.41%, #9055A4 90.56%);
}
.marketing__intro-title h4 {
	font-size: 24px;
	line-height: 23px;
	color: #fff;
	margin-bottom: 20px;
}
.marketing__intro-text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 22px;
	color: #fff;
}
.marketing__intro-text b {
	display: block;	
}
.marketing__title {
	margin-bottom: 10px;
	font-size: 20px;
}
.marketing__pretitle {
	display: block;
	margin-bottom: 40px;
	color: #5F58AC;
	font-size: 16px;
	line-height: 22px;
}
.marketing__slider {
	max-height: 510px;
	height: 100%;
}
.marketing__slider  .slick-slide {
	outline: none;
}
.marketing__slider .slick-list, .marketing__slider .slick-track {
	height: 100%;
}
.marketing__slider-item-content {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 25px 15px;
	height: 100%;
}
.marketing__slider .my-arrow-prev, .marketing__slider .my-arrow-next {
	border-color: rgba(0,0,0, .1);
}
.marketing__slider .my-arrow-next {
	right: 15px;
}
.marketing__slider .my-arrow-prev {
	left: -5px;
}
.marketing__slider .my-arrow-prev {
	top: 41%;
}
.marketing__slider-item-text h4 {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	color: #000;
}
.marketing__slider-item-text p {
	margin-bottom: 15px;
	line-height: 19px;
	font-size: 14px;
	color: #000;
}
.context-stats-item-title {
	font-size: 14px;
	line-height: 19px;
	color: #000;
}
.values-number {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	color: #5F58AC;
}
.values-context {
	font-size: 14px;
	line-height: 22px;
	color: #5F58AC;
}
.context-stats-item  {
	padding: 0 7px;
}
.marketing__slider-item {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.marketing__banner {
	padding: 30px 0;
	background-color: #f9f9f9;
}
.marketing__banner-heading {
	padding: 0 25px;
	font-size: 20px;
	line-height: 2;
	color: #000;
	position: relative;
}
.marketing__banner-list  {
	padding: 0 25px;
}
.marketing__banner-heading h4 {
	font-weight: 400;
}
.marketing__banner-heading:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #5F58AC;
	top: 0;
	right: 0;
}
.marketing__audit {
	margin-top: 50px;
	padding: 20px 15px;
	background-color: #f9f9f9;
	text-align: center;
}
.marketing__audit-text-head {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 27px;
}
.marketing__audit-text-head h4 {
	font-weight: 400;
}
.marketing__audit-text .btn-style {
	margin: 25px  auto;
	background-color: #5F58AC;
	font-size: 16px;
	max-width: 240px;
	width: 100%;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}
.marketing__traffic-head {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;
	margin: 40px 0 30px;
}
.marketing__traffic {
	border: 1px solid #dee2e6;
	font-size: 14px;
}
.table {
	margin-bottom: 0;
}
.table tr:nth-child(even) td{
	background-color: #eff5f7;
}
.table td, .table th {
	padding: 6px;
	border-color: transparent;
}
.marketing__steps {
	padding: 30px 50px;
	background-color: #f9f9f9;
}
.marketing__steps-title {
	margin-bottom: 10px;
	font-size: 20px;
	color: #000;
}
.marketing__steps-text {
	font-size: 16px;
	color: #5F58AC;
	margin-bottom: 40px;
}
.steps__list-count {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #5F58AC;
	color: #fff;
	font-weight: bold;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	font-size: 32px;
	margin-right: 30px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(9.41%, #5F58AC), color-stop(90.56%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 9.41%, #9055A4 90.56%);
	background-image: linear-gradient(90deg, #5F58AC 9.41%, #9055A4 90.56%);
}
.steps__list p{
	margin-bottom: 0;
	color: #000;
	font-size: 16px;
}
.steps__list li {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0, .1);
}
.steps__list li:last-child {
	border-bottom: 0;
}
.steps__list-text {
	line-height: 22px;
}
.marketing__social-head {
	margin-bottom: 10px;
}
.marketing__social-suphead {
	margin-bottom: 40px;
}
.marketing__social-item-img {
	padding: 20px;
	height: 180px;
	background-color: #f5f5f5;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.marketing__social-item-info {
	padding: 30px 25px;
}
.marketing__social-item-info h3{
	color: #000;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.marketing__social-item  {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
	position: relative;
}
.marketing__social-item:before {
	content: '';
	width: 100%;
	height: 4px;
	position: absolute;
	bottom: 0;
	background: -webkit-gradient(linear, left top, right top, color-stop(9.41%, #5F58AC), color-stop(90.56%, #9055A4));
	background: -o-linear-gradient(left, #5F58AC 9.41%, #9055A4 90.56%);
	background: linear-gradient(90deg, #5F58AC 9.41%, #9055A4 90.56%);
}
.marketing__social-item-info p {
	font-size: 16px;
	line-height: 22px;
	color: #000;
	font-weight: 4000;
	margin-bottom: 20px;
}
.marketing__social-item-info .btn-style {
	width: 100%;
	font-size: 16px;
	color: #fff;
	background-color: #5F58AC;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background-image: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background-image: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}

.mobile__intro {
	padding-left: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	background-position: center;
}
.mobile__intro-text-head {
	padding-top: 55px;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
	max-width: 260px;
	width: 100%;
}
.mobile__intro-text-descr {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 20px;
	color: #000;
}
.mobile__intro-text-price {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #5F58AC;
	display: block;
	margin-bottom: 25px;
}
.mobile__intro-btns .btn-style {
	margin-bottom: 15px;
	font-size: 16px;
}
.mobile__intro-btns .btn-style {
	color: #fff;
	max-width: 260px;
	width: 100%;
	background-color: #5F58AC;
	background: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}
.mobile__intro-btns .demo {
	background: transparent;
	color: #5F58AC;
}
.mobile__adv-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	margin: 40px 0 21px;
}
.mobile__adv-desc {
	font-size: 16px;
	text-align: center;
	display: block;
	margin: 0 auto 35px;
	color: #5F58AC;
	max-width: 555px;
	width: 100%;
}

.mobile__adv {
	margin-bottom: 40px;
}
.mobile_adv-list-text {
	font-size: 16px;
	line-height: 22px;
	color: #000;
	max-width: 220px;
	margin: 10px auto;
}
.mobile__slider-wrap {
	padding-top: 28px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	background-position: center;
}
.mobile__slider-title, .mobile-tarif-title {
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	margin: 40px 0 21px;
}
.mobile__slider-desc, .mobile-tarif-desc {
	font-size: 16px;
	color: #000;
	line-height: 22px;
	text-align: center;
	padding: 0 15px;
	margin-bottom: 20px;
}
.mobile__slider-item-img {
	padding: 0 15px;
}
.mobile__slider-item img{
	text-align: center;
	margin: 0 auto;
}
.mobile__slider {
	padding: 0 60px 90px;
}
.mobile__slider .my-arrow-prev, .mobile__slider .my-arrow-next {
	border-color: #c4c4c4;
}
.mobile__slider .my-arrow-next {
	right: 50px;
}
.mobile__slider .my-arrow-prev {
	left: 50px;
	top: 41%;
}
.tarif-list-item {
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	padding: 20px;
	height: 100%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.mobile__tarif-item-head {
	font-size: 16px;
	line-height: 22px;
	color: #5F58AC;
	padding-bottom: 15px;
	border-bottom: 1px solid #F0F0F0;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.mobile__tarif-item-price {
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 15px;
}
.mobile__tarif-item-introtext {
	color: #666666;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}
.tarif-list-buy .check {
	color: #000;
}
.tarif-list-buy li {
	padding-left: 10px;
	font-size: 15px;
	color: #9A9A9A;
	line-height: 20px;
	margin-bottom: 10px;
	position: relative;
}
.tarif-list-buy .check:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -6px;
	background-image: url(../img/tick.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 11px;
	height: 9px;
}
.tarif-list-btn {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	padding-top: 20px;
	border-top: 1px solid #F0F0F0;
}
.tarif-list-btn .btn-style {
	font-size: 16px;
	width: 100%;
	color: #fff;
	background-color: #5F58AC;
	background: -webkit-gradient(linear, left top, right top, color-stop(3.7%, #5F58AC), color-stop(95.93%, #9055A4));
	background: -o-linear-gradient(left, #5F58AC 3.7%, #9055A4 95.93%);
	background: linear-gradient(90deg, #5F58AC 3.7%, #9055A4 95.93%);
}
.mobile-steps-title {
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}
.mobile-steps-graph {
	padding: 0 60px;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column
}
.mobile-steps-graph:before{
	content: '';
	position: absolute;
	height: calc(100% - 140px);
	width: 1px;
	display: block;
	background-color:#9055A4;
	left: 50%;
}
.mobile-steps-item {
	padding-right: 50px;
	position: relative;
}
.mobile-steps-item:before {
	content: '';
	background-image: url(../img/step.svg);
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: -30px;
}
.mobile-steps-item-title {
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
}
.mobile-steps-item-caption {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 15px;
}
.right {
	padding-right: 0;
	padding-left: 50px;
}
.bottom {
	padding: 50px 0 0;
}
.bottom .mobile-steps-item {
	padding-right: 0;
}
.bottom .mobile-steps-item:before {
	content: '';
	background-image: url(../img/launch.svg);
	position: absolute;
	width: 36px;
	height: 36px;
	top: -50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.right .mobile-steps-item:before {
	content: '';
	background-image: url(../img/step.svg);
	position: absolute;
	width: 30px;
	height: 30px;
	top: -40px;
	left: -65px;
}
.mobile__demo {
	padding: 60px 26px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.mobile__demo-title {
	margin-bottom: 20px;
}
.mobile__demo-text {
	font-size: 16px;
	line-height: 22px;
	color: #000;
	text-align: center;
	margin-bottom: 40px;
}
.mobile__demo-btns a {
	text-align: center;
	margin: 10px;
	display: inline-block;
}
.study .menu__aside-list > .menu__aside-list-item a:before {
	display: none;
}
.study .menu__aside-list-item a {
	font-size: 14px;
}
.study__text {
	color: #000;
}
.download {
	background-color: #5f58ac;
	color: #fff;
	font-size: 14px;
	margin-right: 15px;
}
.download:hover {
	color: #fff;
}
.clients__wrap-item-image {
	padding: 40px 40px 0;
	height: 150px;
	line-height: 107px;
}
.clients__wrap-item-text {
	padding: 30px 24px 0;
}
.clients__wrap-item {
	border: 1px solid #f5f5f5;
}
.clients__wrap-item:hover {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .2);
	        box-shadow: 0 0 10px rgba(0,0,0, .2);
}
.clients__wrap-item-text p {
	color: #000;
}
.requisites__text {
	color: #000;
}
.requisites h5 {
	font-weight: 400;
	font-size: 16px;
	color: #222;
	margin: 40px 0 25px;
}
.requisites td {
	font-size: 14px;
	padding: 12px;
}